<div class="container">
	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<h4>Enter your information below:</h4>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input [(ngModel)]="bu.username" type="text" class="form-control"
					placeholder="Enter username">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input [(ngModel)]="bu.password" type="password" class="form-control"
					placeholder="Enter password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button id="loginBtn" class="btn btn-primary"
					(click)="login(bu)">Log in</button>
					<!-- <button type="button" class="btn btn-warning"
					(click)="regmodal.show()">Register</button> -->
			</div>
		</div>
		<div class="form-group">
			<div *ngIf="errorMessage && !submitted" class="alert alert-danger col-sm-offset-2" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"
					aria-hidden="true" alt="Error:"></span> {{errorMessage}}
			</div>
		</div>
  	</div>
</div>

<!-- <app-modal #regmodal>
	<div class="app-modal-header">
		<button type="button" class="close" (click)="regmodal.hide()">&times;</button>
		<h4 class="modal-title">Create New Board</h4>
	</div>
	<div class="app-modal-body">
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<h4>Enter your information below:</h4>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input [(ngModel)]="newUser.firstName" type="text" class="form-control"
					placeholder="Enter username">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-10">
					<input [(ngModel)]="newUser.lastName" type="text" class="form-control"
					placeholder="Enter username">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input [(ngModel)]="newUser.email" type="email" class="form-control"
					placeholder="Enter username">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input [(ngModel)]="newUser.username" type="text" class="form-control"
					placeholder="Enter username">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input [(ngModel)]="newUser.password" type="password" class="form-control"
					placeholder="Enter password">
				</div>
			</div>
		</div>
	</div>
	<div class="app-modal-footer">
		<button type="button" class="btn btn-success" (click)="register(); regmodal.hide()">Submit</button>
		<button type="button" class="btn btn-danger" (click)="regmodal.hide()">Cancel</button>
	</div>
</app-modal> -->