<div class="container-fluid">
	<div class="btn-group btn-group-sm navbar-left" role="group" aria-label="swimlaneOptions">
		<button type="button" class="btn btn-default"
			[disabled]="swimlane.order == 0" (click)="moveLeft()">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		</button>
		<button type="button" class="btn btn-default"
			[disabled]="swimlane.order == board.swimlanes.length-1" (click)="moveRight()">
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</button>
	</div>
		
	<div class="btn-group btn-group-sm navbar-right" role="group" aria-label="swimlaneOptions">
		<button class="btn btn-default" (click)="swimlaneModal.show()">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</button>
		<button class="btn btn-danger" (click)="deleteSwimlaneModal.show()">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
</div>
	
<app-modal #swimlaneModal>
	<div class="app-modal-header">
		<button type="button" class="close" (click)="swimlaneModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Edit Swimlane "{{swimlane.name}}"</h4>
	</div>
	<div class="app-modal-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input [(ngModel)]="updateName" type="text" class="form-control" placeholder="{{swimlane.name}}">
				</div>
			</div>
		</div>
	</div>
	<div class="app-modal-footer">
		<button class="btn btn-success" (click)="updateSwimlane(updateName); swimlaneModal.hide()">Submit</button>
		<button type="button" class="btn btn-default" (click)="swimlaneModal.hide()">Close</button>
	</div>
</app-modal>
	
<table class="table">
	<tr><th><h4>{{swimlane.name}}</h4></th></tr>
	<tr *ngFor="let story of swimlane.stories">
		<td><aw-story [story]="story" [swimlane]="swimlane" [board]="board"></aw-story></td>
	</tr>
</table>

<!-- New Story button, with modal attachment -->
<button class="btn btn-default btn-block" (click)="newStoryModal.show()">
    Create New Story
</button><br>

<app-modal #newStoryModal>
	<div class="app-modal-header">
		<button type="button" class="close" (click)="newStoryModal.hide()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">New Story Details</h4>
	</div>
	<div class="app-modal-body" style="text-align:center">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Title</label>
				<div class="col-sm-10">
					<input [(ngModel)]="newStory.title" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<input [(ngModel)]="newStory.description" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"># of Point</label>
				<div class="col-sm-4">
					<input [(ngModel)]="newStory.points" type="number" class="form-control" min=1 max=10 >
				</div>
			</div>
		</div>
	</div>
	<div class="app-modal-footer">
		<button type="button" class="btn btn-success" (click)="createStory(newStory); newStoryModal.hide()">Create Story</button>
		<button type="button" class="btn btn-danger" (click)="newStoryModal.hide()">Cancel</button>
	</div>
</app-modal>

<app-modal #deleteSwimlaneModal>
		<div class="app-modal-header">
			<button type="button" class="close"  (click)="deleteSwimlaneModal.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">
				Delete Swimlane "{{swimlane.name}}"
			</h4>
			
		</div>
		<div class="app-modal-body">
			<span>Are you sure that you wish to delete "{{swimlane.name}}"?</span>
		</div>
		<div class="app-modal-footer">
			  <button type="button" class="btn btn-danger" (click)="delete(swimlane); deleteSwimlaneModal.hide()">Delete</button>
			  <button type="button" class="btn btn-default" (click)="deleteSwimlaneModal.hide()">Close</button>
		</div>
	</app-modal>