<div class="story-wrapper">
  <div class="btn-group-vertical btn-group-xs col-xs-1" role="group" aria-label="move">
    <button type="button" class="btn btn-default" (click)="moveUp()"
      [disabled]="story.order == 0">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" (click)="moveDown()"
      [disabled]="story.order == swimlane.stories.length-1">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
  </div>
  <!-- Story button, with modal attachment -->
  <button class="btn btn-info" (click)="storyModal.show(); loadOtherSwimlanes(swimlane.id)">
      <span class="badge">{{story.points}}</span> <span class="wordwrap">{{story.title}}</span>
  </button>
</div>

<app-modal #storyModal>
  <div class="app-modal-header">
    <button type="button" class="close" (click)="editing = false; storyModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf="editing; else notEditingHeader">
      <input type="number" [(ngModel)]="editor.points" min=1 max=10 required />
      <input type="text" [(ngModel)]="editor.title" required />
    </div>
    <ng-template #notEditingHeader>
      <h4 class="modal-title" id="myModalLabel"><span class="badge">{{story.points}}</span> {{story.title}}</h4>
    </ng-template>
  </div>
  <div class="app-modal-body">
    <h5>Description</h5>
    <div *ngIf="editing; else noDesc">
      <textarea [(ngModel)]="editor.description"></textarea>
      <br><br>
      <h5>Completed?</h5>>
      <input [(ngModel)]="isCompleted" type="checkbox" /> <br>
    </div>
    <ng-template #noDesc>
      <span *ngIf="story.description">&emsp;{{story.description}}</span>
      <span *ngIf="!story.description">&emsp;No description</span>
      <br><br>
      <h5>Tasks</h5>
      <table *ngIf="story.tasks?.length; else noTasks" class="table table-hover table-condensed">
        <tr *ngFor="let task of story.tasks">
          <td><aw-task [task]="task" [story]="story" [board]="board"></aw-task></td>
        </tr>
      </table>
      <ng-template #noTasks>
        <div>
          &emsp;No tasks yet
        </div>
      </ng-template>
      <div class="form-group input-group col-sm-offset-1 col-sm-8">
        <input class="form-control" [(ngModel)]="newTask.name" type="text" required/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="createTask(newTask)">
                Add Task
            </button>
        </span>
      </div>
    </ng-template>
  </div>
  <div class="app-modal-footer">
    <div *ngIf="editing; else noEditButtons">
      <button type="button" class="btn btn-success" (click)="updateStory(); editing = !editing">
        Save Changes
      </button>
      <button type="button" class="btn btn-danger" (click)="editing = !editing">
        Cancel
      </button>
    </div>
    <ng-template #noEditButtons>
      <div ngbDropdown>
        <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
          Move to... <span class="caret"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <li *ngFor="let otherSwimlane of loadOtherSwimlanes()">
                <a (click)="moveTo(otherSwimlane.id, otherSwimlane.stories.length, otherSwimlane.order)">{{otherSwimlane.name}}</a>
            </li>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" (click)="setEditor(); editing = !editing">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteStoryModal.show()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</app-modal>

<app-modal #deleteStoryModal>
		<div class="app-modal-header">
			<button type="button" class="close"  (click)="deleteStoryModal.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">
				Delete Story "{{story.title}}"
			</h4>
		</div>
		<div class="app-modal-body">
			<span>Are you sure that you wish to delete {{story.title}}?</span>
		</div>
		<div class="app-modal-footer">
			  <button type="button" class="btn btn-danger" (click)="deleteStory(story); deleteStoryModal.hide(); storyModal.hide()">Delete</button>
			  <button type="button" class="btn btn-default" (click)="deleteStoryModal.hide()">Close</button>
		</div>
	</app-modal>